body{
    background-color:#1f2022;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.contain {
    padding-inline: 10%;
}

@media screen and (max-width: 768px) {
    .contain {
        padding: 2em;
    }
}